In [2]:
import pandas as pd
df=pd.read_csv("//Users//nannu//Desktop//ML journey//pandasworks//customer_behaviour_casestudy//E-commerce Customer Behavior - Sheet1.csv")
df.head(3)

,Customer ID,Gender,Age,City,Membership Type,Total Spend,Items Purchased,Average Rating,Discount Applied,Days Since Last Purchase,Satisfaction Level
0,101,Female,29,New York,Gold,1120.20,14,4.6,True,25,Satisfied
1,102,Male,34,Los Angeles,Silver,780.50,11,4.1,False,18,Neutral
2,103,Female,43,Chicago,Bronze,510.75,9,3.4,True,42,Unsatisfied

In [3]:
df.columns

Index(['Customer ID', 'Gender', 'Age', 'City', 'Membership Type',
       'Total Spend', 'Items Purchased', 'Average Rating', 'Discount Applied',
       'Days Since Last Purchase', 'Satisfaction Level'],
      dtype='object')

In [4]:
df.isnull().sum()

Customer ID                 0
Gender                      0
Age                         0
City                        0
Membership Type             0
Total Spend                 0
Items Purchased             0
Average Rating              0
Discount Applied            0
Days Since Last Purchase    0
Satisfaction Level          2
dtype: int64

In [7]:
df.rename(columns={"Customer ID":"customer_id","Gender":"gender","Age":"age","City":"city","Membership Type":"menbership_type","Total Spend":"total_spend","Items Purchased":"items_purchased","Average Rating":"average_rating","Discount Applied":"discount_apllied","Days Since Last Purchase":"days_since_last_purchase","Satisfaction Level":"satisfaction_level"},inplace=True)
df.columns

Index(['customer_id', 'gender', 'age', 'city', 'menbership_type',
       'total_spend', 'items_purchased', 'average_rating', 'discount_apllied',
       'days_since_last_purchase', 'satisfaction_level'],
      dtype='object')

In [8]:
df["satisfaction_level"]=df["average_rating"].apply(lambda x:"unsatisfied" if x<=4.0 else "neutral" if x >4.0 and x<4.5 else"satisfied")

In [9]:
df.head()

,customer_id,gender,age,city,menbership_type,total_spend,items_purchased,average_rating,discount_apllied,days_since_last_purchase,satisfaction_level
0,101,Female,29,New York,Gold,1120.20,14,4.6,True,25,satisfied
1,102,Male,34,Los Angeles,Silver,780.50,11,4.1,False,18,neutral
2,103,Female,43,Chicago,Bronze,510.75,9,3.4,True,42,unsatisfied
3,104,Male,30,San Francisco,Gold,1480.30,19,4.7,False,12,satisfied
4,105,Male,27,Miami,Silver,720.40,13,4.0,True,55,unsatisfied

In [11]:
df.isnull().sum()

customer_id                 0
gender                      0
age                         0
city                        0
menbership_type             0
total_spend                 0
items_purchased             0
average_rating              0
discount_apllied            0
days_since_last_purchase    0
satisfaction_level          0
dtype: int64