In [1]:
import pandas as pd
df=pd.read_csv("/Users/nannu/Desktop/ML journey/pandasworks/world_famous_places/world_famous_places_2024.csv")
df.head(3)

,Place_Name,Country,City,Annual_Visitors_Millions,Type,UNESCO_World_Heritage,Year_Built,Entry_Fee_USD,Best_Visit_Month,Region,Tourism_Revenue_Million_USD,Average_Visit_Duration_Hours,Famous_For
0,Eiffel Tower,France,Paris,7.0,Monument/Tower,No,1889,35,May-June/Sept-Oct,Western Europe,95,2.5,"Iconic iron lattice tower, symbol of Paris"
1,Times Square,United States,New York City,50.0,Urban Landmark,No,1904,0,Apr-June/Sept-Nov,North America,70,1.5,"Bright lights, Broadway shows, New Year's Eve ..."
2,Louvre Museum,France,Paris,8.7,Museum,Yes,1793,22,Oct-March,Western Europe,120,4.0,"World's most visited museum, home to Mona Lisa"

In [2]:
df.columns

Index(['Place_Name', 'Country', 'City', 'Annual_Visitors_Millions', 'Type',
       'UNESCO_World_Heritage', 'Year_Built', 'Entry_Fee_USD',
       'Best_Visit_Month', 'Region', 'Tourism_Revenue_Million_USD',
       'Average_Visit_Duration_Hours', 'Famous_For'],
      dtype='object')

In [3]:
df.isnull().sum()

Place_Name                      0
Country                         0
City                            0
Annual_Visitors_Millions        0
Type                            0
UNESCO_World_Heritage           0
Year_Built                      0
Entry_Fee_USD                   0
Best_Visit_Month                0
Region                          0
Tourism_Revenue_Million_USD     0
Average_Visit_Duration_Hours    0
Famous_For                      0
dtype: int64

In [4]:
#placename
df["Place_Name"].unique()

array(['Eiffel Tower', 'Times Square', 'Louvre Museum',
       'Great Wall of China', 'Taj Mahal', 'Colosseum',
       'Statue of Liberty', 'Sydney Opera House', 'Machu Picchu',
       'Forbidden City', 'Angkor Wat', 'Notre-Dame Cathedral',
       'Central Park', 'Las Vegas Strip', 'Empire State Building',
       'Golden Gate Bridge', 'Lincoln Memorial', 'Sagrada Familia',
       'Disneyland (California)', 'Magic Kingdom (Orlando)',
       'Grand Canyon', 'Great Pyramid of Giza', 'Leaning Tower of Pisa',
       'Palace of Versailles', 'Acropolis', 'Burj Khalifa', 'Big Ben',
       'Tower Bridge', 'Buckingham Palace', 'Christ the Redeemer'],
      dtype=object)