In [2]:
import pandas as pd
df=pd.read_csv("/Users/nannu/Desktop/ML journey/pandasworks/world_famous_places/world_famous_places_2024.csv")

In [3]:
df.head(3)

,Place_Name,Country,City,Annual_Visitors_Millions,Type,UNESCO_World_Heritage,Year_Built,Entry_Fee_USD,Best_Visit_Month,Region,Tourism_Revenue_Million_USD,Average_Visit_Duration_Hours,Famous_For
0,Eiffel Tower,France,Paris,7.0,Monument/Tower,No,1889,35,May-June/Sept-Oct,Western Europe,95,2.5,"Iconic iron lattice tower, symbol of Paris"
1,Times Square,United States,New York City,50.0,Urban Landmark,No,1904,0,Apr-June/Sept-Nov,North America,70,1.5,"Bright lights, Broadway shows, New Year's Eve ..."
2,Louvre Museum,France,Paris,8.7,Museum,Yes,1793,22,Oct-March,Western Europe,120,4.0,"World's most visited museum, home to Mona Lisa"

In [4]:
df.columns

Index(['Place_Name', 'Country', 'City', 'Annual_Visitors_Millions', 'Type',
       'UNESCO_World_Heritage', 'Year_Built', 'Entry_Fee_USD',
       'Best_Visit_Month', 'Region', 'Tourism_Revenue_Million_USD',
       'Average_Visit_Duration_Hours', 'Famous_For'],
      dtype='object')

In [4]:
#placename
df["Place_Name"].unique()

array(['Eiffel Tower', 'Times Square', 'Louvre Museum',
       'Great Wall of China', 'Taj Mahal', 'Colosseum',
       'Statue of Liberty', 'Sydney Opera House', 'Machu Picchu',
       'Forbidden City', 'Angkor Wat', 'Notre-Dame Cathedral',
       'Central Park', 'Las Vegas Strip', 'Empire State Building',
       'Golden Gate Bridge', 'Lincoln Memorial', 'Sagrada Familia',
       'Disneyland (California)', 'Magic Kingdom (Orlando)',
       'Grand Canyon', 'Great Pyramid of Giza', 'Leaning Tower of Pisa',
       'Palace of Versailles', 'Acropolis', 'Burj Khalifa', 'Big Ben',
       'Tower Bridge', 'Buckingham Palace', 'Christ the Redeemer'],
      dtype=object)

In [5]:
#Which attraction has the highest annual visitors?
df.loc[df["Annual_Visitors_Millions"].idxmax(), ["Place_Name", "Annual_Visitors_Millions"]]

Place_Name                  Times Square
Annual_Visitors_Millions            50.0
Name: 1, dtype: object

In [6]:
#List all attractions in France
df[df["Country"] == "France"][["Place_Name", "City"]]

              Place_Name        City
0           Eiffel Tower       Paris
2          Louvre Museum       Paris
11  Notre-Dame Cathedral       Paris
23  Palace of Versailles  Versailles

In [7]:
#How many UNESCO World Heritage sites are there?
df["UNESCO_World_Heritage"].value_counts()

UNESCO_World_Heritage
Yes    17
No     13
Name: count, dtype: int64

In [8]:
#Average annual visitors by region
df.groupby("Region")["Annual_Visitors_Millions"].mean().sort_values(ascending=False)

Region
North America      20.5100
East Asia           9.5000
Western Europe      9.1000
Oceania             8.2000
South Asia          7.5000
Middle East         6.0000
Southern Europe     5.3375
North Africa        2.8000
Southeast Asia      2.6000
South America       1.8500
Name: Annual_Visitors_Millions, dtype: float64

In [9]:
#Top 5 attractions by tourism revenue
df.sort_values("Tourism_Revenue_Million_USD", ascending=False).head(5)

,Place_Name,Country,City,Annual_Visitors_Millions,Type,UNESCO_World_Heritage,Year_Built,Entry_Fee_USD,Best_Visit_Month,Region,Tourism_Revenue_Million_USD,Average_Visit_Duration_Hours,Famous_For
13,Las Vegas Strip,United States,Las Vegas,41.7,Entertainment District,No,1905,0,March-May/Sept-Nov,North America,6800,8.0,"Casino resorts, entertainment, nightlife"
19,Magic Kingdom (Orlando),United States,Orlando,17.0,Theme Park,No,1971,109,Jan-May/Sept-Dec,North America,4500,10.0,Disney World's flagship park with Cinderella C...
18,Disneyland (California),United States,Anaheim,16.0,Theme Park,No,1955,104,Apr-May/Sept-Nov,North America,3200,8.0,Original Disney theme park
20,Grand Canyon,United States,Arizona,6.0,Natural Wonder,Yes,Natural Formation,35,March-May/Sept-Nov,North America,780,5.0,Massive canyon carved by Colorado River
25,Burj Khalifa,United Arab Emirates,Dubai,6.0,Skyscraper,No,2010,45,Nov-March,Middle East,350,2.0,Tallest building in the world